div {
    margin: auto;
    border-style: solid;
    border-radius: 5px;
    color: brown;
    border-color: hotpink;
    padding: 10px 10px 10px 10px;
    font-size: 2em;
    background-color: hotpink;
    width: 60%;
    text-align: center;
}
img {
    display: block;
    margin: auto;
}
header {
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    font-style: italic;
    color: hotpink;
    font-weight: bold;
}
p {
    font-size: 20px;
    font-family: Arial;
    text-align: left;
    margin-left: 150px;
    margin-right: 150px;
    color: brown;
    border-style: none;
}
h4 {
    margin-left: 150px;
    font-size: 20px;
    font-family: Arial;
    color: brown;
    border-style: none;
    padding: 0px;
}
.ingredients {
    color: brown;
    font-family: Arial;
    list-style-type: none;
    font-size: 20px;
    margin-left: 150px;
}
#footer {
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 25px;
    color: brown;
}
a {
    text-decoration: none;
    color: hotpink;
}
